@using EventManagementSystem.Models.UserRelated
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<AccountModel> SignInManager
@inject UserManager<AccountModel> UserManager
@model EventManagementSystem.Models.UserRelated.ChangePasswordViewModel

@{
ViewData["Title"] = "Change Password";
}

<link rel="stylesheet" href="~/css/user/change-password.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/user/shared-styles.css" asp-append-version="true"/>

<div class="container">
    <div class="row">
        <div class="col-md-2 offset-md-2">
            <div class="nav-links">
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ViewProfile">Profile</a>
                </div>
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                </div>
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ViewEvents">Events</a>
                </div>
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ViewGuests">Guests</a>
                </div>
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ViewVenues">Venues</a>
                </div>
                @{
                var user = await UserManager.GetUserAsync(User);
                if (user!.Role == EventManagementSystem.Utils.Enums.UserRole.Admin)
                {
                <div>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="AdminPanel">Admin Panel</a>
                </div>
                }
                }
            </div>
        </div>

        <div class="content-section col-md-6">
            <h2>Change Password</h2>

            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

            @if (Model.Changed)
            {
            <div class="alert alert-success" role="alert">
                Your password was successfully changed.
            </div>

            <p>
                <a asp-controller="Home" asp-action="Index">Back to Home</a>
            </p>
            }
        </div>
    </div>
</div>
